<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{ url_for('static', path='/css/login.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="login-container">
    <form class="login-form" onsubmit="handleLogin(event)">
        <h1 class="logo">Fitbase</h1>
        <h2>Войдите в свой аккаунт</h2>

        <div>
            <div class="form-group">
                <label for="username">Email or phone</label>
                <input type="text" id="username" name="username" autocomplete="off"
                       placeholder="Enter your phone or email" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" autocomplete="off"
                       placeholder="Enter your password" required minlength="6">
            </div>

            <button type="submit" class="btn-login">Войти</button>
        </div>
    </form>
</div>
</body>
<script>
    const loginInput = document.getElementById('username');
    const passwordInput = document.getElementById('password');

    const checkEmail = (email) => /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);

    const checkPhone = (phone) => /^\+7\d{10}$/.test(phone);

    const isEmail = (input) => input.includes('@');

    const fetchAuth = async (username, password) => {
        const payload = new URLSearchParams({
            username,
            password,
        });

        const requestOptions = {
            method: "POST",
            headers: {"Content-Type": "application/x-www-form-urlencoded"},
            body: payload,
        };

        try {
            const response = await fetch("/api/auth/token", requestOptions);
            if (response.ok) {
                const data = await response.json();
                localStorage.setItem("token", data.access_token);
                window.location.href = "/api/admin/home"; // Перенаправление пользователя
            } else {
                alert("Ошибка авторизации. Попробуйте позже.");
            }
        } catch (e) {
            console.error("Ошибка при выполнении запроса: ", e);
            alert("Произошла ошибка. Проверьте подключение к сети.");
        }
    };

    const handleLogin = async (event) => {
        event.preventDefault();

        const login = loginInput.value.trim();
        const password = passwordInput.value;

        if (!login || !password) {
            alert("Пожалуйста, заполните все поля.");
            return;
        }

        if (isEmail(login)) {
            if (checkEmail(login)) {
                await fetchAuth(login, password);
            } else {
                alert("E-mail введен некорректно!");
            }
        } else {
            if (checkPhone(login)) {
                await fetchAuth(login.slice(-11), password);
            } else {
                alert("Номер телефона введен некорректно! Номер должен выглядеть: +7XXXXXXXXXX");
            }
        }
    };
</script>
</html>
